body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(46, 46, 46);
}

#computers__container{
    width: 60vw;
    margin:2rem auto;
    
}

.computer__item{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgb(221, 221, 221);
    border-radius: 5px;
}
button{
    cursor: pointer;
}
.computer-buttons__item{
    display: flex;
}
.computer-buttons__item>button{
    width: 60px;
    margin:1rem;
    padding: 5px 0;
    border-radius: 5px;
    border:none;
}
.computer-content__item{
    display: flex;
}

.computer-content__item>p{
    margin:1rem;
}

#add-computer__container{
    margin:0 auto;
    width: fit-content;
}